/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.venue_title{
	margin-top:60px;
	font-size: 20px;
	font-family: "franklin-gothic-urw", sans-serif;
	font-style: normal;
	font-weight: 500;
	color: ##e93437;
}



.statusheader {

	font-size: 20px;
	font-family: "franklin-gothic-urw", sans-serif;
	font-style: normal;
	font-weight: 500;
	color: ##e93437;

}
.name {
	font-size: 18px;
	font-family: "franklin-gothic-urw", sans-serif;
	font-style: normal;
	font-weight: 500;
	color: #ffcc00;;

}

.count {
	font-size: 100px;
	font-family: "franklin-gothic-urw", sans-serif;
	font-style: normal;
	font-weight: 500;
	color: #e93437;
	line-height: 90%;


}

.capacity {
	font-size: 40px;
	font-family: "franklin-gothic-urw", sans-serif;
	font-style: normal;
	font-weight: 500;


}

.notification{
	font-size: 32px;
	font-family: "franklin-gothic-urw", sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: 90%;

}

.edit{
	font-size: 18px;
	font-family: "franklin-gothic-urw", sans-serif;
	font-style: normal;
	font-weight: 500;
	color: #ffcc00;;
	margin-bottom: 30px;

}
